.teachers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 82%;
}

.teachers td, .teachers th {
  border: 1px solid black;
  padding: 8px;
}

.teachers tr {background-color: white ;}

.teachers tr:hover {background-color: #b7bfc8;}

.teachers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:#596673;
  color: black;
}
