.assign {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 82%;
}

.assign td, .assign th {
  border: 1px solid black;
  padding: 8px;
}

.assign tr {background-color: white ;}

.assign tr:hover {background-color: #b7bfc8;}

.assign th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:#596673;
  color: black;
}
