{% extends 'Student/base1.html' %}

{% block content %}

{% load static %}

<head>
	<title>Leave Records</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/leavedetails.css' %}">
</head>

<h1><center>Student Leave Details</center></h1>
<table class="leave" align="right">
	<tr>
		<th>Student Email Id</th>
		<th>Start_date</th>
  		<th>End_date</th>
  		<th>Reason</th> 
  		<th>Status</th> 
	</tr>
	{% for i,j,k,l,m in row %}
	<tr>
		<td>{{i}}</td>
  		<td>{{j}}</td>
  		<td>{{k}}</td>
  		<td>{{l}}</td>
  		<td>{{m}}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}