   
{% extends 'Student/base1.html' %}

{% block content %}

{% load static %}
<head>
  <title>Faculty List</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/viewfaculty.css' %}">
</head>
<h1><center>Faculty Details</center></h1>
   <table class="teachers" align="right" >
 <tr>
    <th>Id</th>
    <th>Faculty First Name</th>
    <th>Faculty Last Name</th>
    <th>Email Id</th>
    <th>Phone Number</th>  
     
</tr>
{% for i,j,k,l,m in row %}
<tr>
  <td>{{i}}</td>
  <td>{{j}}</td>
  <td>{{k}}</td>
  <td>{{l}}</td>
  <td>{{m}}</td>
  </tr>
{% endfor %}
</table>

{% endblock %}