{% extends 'schedules/base.html' %}

{% block content %}

{% load static %}
<html>
<head>
  <title>Search Result</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/viewcourse.css' %}">
</head>
<body>
   <table id="course" >
 <tr>
  <th>Course_code</th>
  <th>Course_name</th>
  <th>Edit</th>
  <th>Delete</th>
     
</tr>
{% for i,j in row2 %}
<tr>
  <td>{{i}}</td>
  <td>{{j}}</td>
  <td><a href="{% url 'ecourse' %}?c_code={{i}}">Edit</a></td>
  <td><a href="{% url 'deletecourse' %}?c_code={{i}}">Delete</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}
</body>
</html>