{% extends 'schedules/base.html' %}

{% load static %}

{% block content %}  

<head>
    <title>
       Edit Student Details
    </title>
    <link rel="stylesheet" href="{% static 'css/editstudent.css' %}">
</head>

<body><center>
    <table>
        <tr>
            <td>
                <form method = "POST" action="{% url 'editstudent' %}">
                    {% csrf_token %}
                    <div class="studentedit">
                        <div class="editstud">
                            <label>Id*</label><label class="validation-error hide" id="idValidationError">This field is required.</label>
                            {% for i,j,k,l,m in row %}
                            <input type="text" name="sid" id="sid" value="{{i}}" required>
                    
                       
                            <label>First Name</label>
                            <input type="text" name="f_name" id="f_name" value="{{j}}" required>
                          
                       
                            <label>Last Name</label>
                            <input type="text" name="l_name" id="l_name" value="{{k}}" required>
                       
                            <label>Email Id</label>
                            <input type="email" name="emailid" id="emailid" value="{{l}}" required>
                          
                            <label>Course Code</label>
                            <select name ='c_code'>
                                {% for x,y in lst1 %}
                                {% if x == m %}
                                    <option selected name = 'c_code' value="{{x}}">{{y}}</option>
                                {% else %}
                                    <option name = 'c_code' value="{{x}}">{{y}}</option>
                                {% endif %}
                               {% endfor %}
                            </select>
                            {% endfor %}

                            <div  class="form-action-buttons">
                                <input type="submit" name="submit" value="Edit">
                            </div>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
    </table>
</center>
{% if estudent%}
    {{"<script>window.alert('Student Updated Successfully');</script>"}}
{% endif%}
{% endblock %}
