{% load static %}


<!DOCTYPE html>
<html>
<head>
    <title>password reset confirm</title>
    <link rel="stylesheet" href="{% static 'css/passrest.css' %}">
</head>
<body>
    <center>
        <table>
            <tr>
                <td>
                    <form method="POST" action="{% url 'password_reset_complete' %}" >
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="pass-reset">
                            <div class="reset">
                                <label>USER TYPE</label>
                                <select <select name="usertype">
                                    <option value="1">admin</option>
                                    <option value="2">faculty</option>
                                    <option value="3">student</option>
                                </select><br>

                                <br><label>Email_id</label><br>
                                <input type="email" name="emailid" required><br>

                                <label>Reset Password</label>
                                <input type="password" name="new_password">

                                <label>Confirm Password</label> 
                                <input type="password" name="confirm_password">
                                <center><input type="submit" name="submit" value="reset"></center>
                            </div>
                        </div>    
                    </form>
                </td>
            </tr>
        </table>
    </center>
</body>
</html>
