{% extends 'schedules/base.html' %}

{% block content %}

{% load static %}

<head>
  <title>Leaves Record</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/leavedetails.css' %}">
</head>

<h1><center>Student Leave Table</center></h1>
<table class="leave" align="right">
<tr>
  <th>Student Email Id</th>
  <th>Start_date</th>
  <th>End_date</th>
  <th>Reason</th>
  <th>Status</th>
  <th>Accept</th>
  <th>Reject</th> 
</tr>
{% for i,j,k,l,m,n in row %}
<tr>
  <td>{{j}}</td>
  <td>{{k}}</td>
  <td>{{l}}</td>
  <td>{{m}}</td>
  <td>{{n}}</td>
  <td><a href="{% url 'accepts' %}?l_id={{i}}">Accept</a></td> 
  <td><a href="{% url 'rejects' %}?l_id={{i}}">Reject</a></td>
</tr> 
{% endfor %}
</table>
{% endblock %}